<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>Sunday Offline Puzzle Game</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
        <style>
            .img-fit {
                width: 98%;
            }
        </style>
    </head>
    <body ontouchstart="">
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>游戏说明</h1>
        </header>
        <footer class="ui-footer ui-footer-stable ui-btn-group ui-border-t">
            <button class="ui-btn-lg ui-btn-primary">
                好的! 我明白辣~
            </button>
        </footer>
        <section class="ui-container ui-panel ui-panel-pure ui-border-t">
            <ul class="ui-list ui-list-pure ui-border-tb">
                <li class="ui-border-t">
                    <h4><span>游戏介绍 </span></h4>
                    <p class="ui-txt-justify">公元2016年，一个叫热心人士的沙雕想出了这个游戏，并由雅蠛蝶和小强实现了这个游戏。而你将会成为勇士，面临各种各样的考验，去寻找散落在各处的二维码的线索。</p>
                    <p class="ui-txt-justify">「智慧是命运的征服者。」</p>
                    <p class="ui-txt-justify">是摘下那荣耀的桂冠，还是深陷谜题的牢笼之中呢？出发吧，勇者！</p>
                </li>
                <li class="ui-border-t">
                    <h4><span>游戏玩法 </span></h4>
                    <ul class="ui-list ui-list-pure ui-border-tb">
                        <li class="ui-border-t">
                            <p class="ui-txt-justify">1. 扫描二维码</p>
                            <img class="img-fit" src="http://7xnrsp.com1.z0.glb.clouddn.com/sunday/img/1.png" alt="">
                        </li>
                        <li class="ui-border-t">
                            <p class="ui-txt-justify">2. 输入正确的答案</p>
                            <img class="img-fit" src="http://7xnrsp.com1.z0.glb.clouddn.com/sunday/img/2.png" alt="">
                        </li>
                        <li class="ui-border-t">
                            <p class="ui-txt-justify">3. 得到下一关的问题以及下一个二维码位置的提示，请务必记住问题，下一关将不会再次显示</p>
                            <img class="img-fit" src="http://7xnrsp.com1.z0.glb.clouddn.com/sunday/img/3.png" alt="">
                        </li>
                        <li class="ui-border-t">
                            <p class="ui-txt-justify">4. 找到下一个二维码，重复第一个步骤，直到最后一个线索</p>
                        </li>
                    </ul>
                </li>
                <li class="ui-border-t">
                    <h4><span>问题反馈 </span></h4>
                    <p class="ui-txt-justify">如果您在游戏中遇到什么问题，又或者想要提出任何建议，可以发送邮件到下面这个邮箱: </p>
                    <p class="ui-txt-justify ui-border-l">SundaySunnyRx@gmail.com</p>
                    <p class="ui-txt-justify">或点击下方的链接到反馈页面提交您的反馈</p>
                </li>
            </ul>
            <span class="ui-flex ui-flex-pack-center">
                <i id="feed" class="ui-icon-comment ui-txt-sub">遇到问题？请给我们提供反馈</i>
            </span>
        </section>
        <script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/lib/zepto.min.js"></script>
        <script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/js/frozen.js"></script>
        <script type="text/javascript">
            // 获取链接变量
            var url = location.href;
            var paraString = url.substring(url.indexOf("?")+1,url.length).split("=");
            // 打开
            $("button").tap(function() {
                if (paraString[1] == "true") {
                    history.back();
                }
                else {
                    window.location.href="step1.html";
                }
            });
            // 如果是从其他页面跳转过来，则显示返回按钮
            $(function(){
                if (paraString[1] == "true") {
                    var goBack = '<i class="ui-icon-return" onclick="history.back()"></i>';
                    $("h1").before(goBack);
                }
            });
            // 跳转到反馈页
            $("#feed").tap(function() {
                window.location.href = "feed.html";
            })
        </script>
    </body>
</html>