<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Sunday Offline Puzzle Game</title>
    <link rel="stylesheet" href="/static/css/frozen.css">
    <style>
        .ui-form-item-textarea {
          height: 88px;
            margin-bottom: 16px;
        }
        .ui-form-item-textarea textarea {
            height: 100%;
          margin-top: 15px;
          border: none;
        }
    </style>
</head>
<body ontouchstart="">
    <header class="ui-header ui-header-positive ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i>
        <h1>游戏反馈</h1>
    </header>
    <section class="ui-container ui-center">
        <div class="ui-form ui-border-t ui-placehold">
            <form method="post" onkeydown="if(event.keyCode==13){return false;}">
                 {% csrf_token %}
                <div class="ui-form-item ui-border-b">
                    <label>
                        您的邮箱
                    </label>
                    <input name="email" type="email" placeholder="邮箱" required="required">
                    <a href="#" class="ui-icon-close">
                    </a>
                </div>
                <div class="ui-form-item ui-form-item-textarea ui-border-b">
                    <label>
                        您的反馈
                    </label>
                    <textarea name="content" placeholder="请写下对这个游戏的意见或建议..." required="required"></textarea>
                </div>
                <button type="submit" class="ui-btn-lg ui-btn-primary">提交</button>
            </form>
        </div>
    </section>
</body>
<script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/lib/zepto.min.js"></script>
<script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/js/frozen.js"></script>
<script>
    // 点x清除输入框内容
    $(".ui-icon-close").tap(function() {
        $("input").val("");
    });
    // 成功提交提示
    var el;
    var should_show = "{{ submit_success }}";
    if (should_show == "True") {
        el=$.tips({
        content:'反馈提交成功!',
        stayTime:2000,
        type:"success"
        });
        el.on("tips:hide",function(){
            console.log("tips hide");
        })
    }
</script>
</html>