<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>Sunday Offline Puzzle Game</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
    </head>
    <body ontouchstart="">
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>通往真相的入口</h1>
        </header>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="" id="problem"><div class="ui-icon-warn">这是什么</div></li>
            </ul>
        </footer>
        <section class="ui-container ui-center">
            <br>
            <div id="entry">
                <ul class="ui-row ui-whitespace">
                    <li class="ui-col ui-col-100"><p class="ui-txt-justify">{{ first_puzzle.story_description }}</p></li>
                    <li><p>&nbsp;</p></li>
                    <li class="ui-col ui-col-100">
                        <p class="ui-txt-justify">请回答这个问题: {{ first_puzzle.content }}</p>
                    </li>
                </ul>
                <br>
                <div class="ui-form ui-border-t">
                    <form action="#" onkeydown="if(event.keyCode==13){return false;}">
                        <div class="ui-form-item ui-form-item-r ui-border-b">
                            <input type="text" placeholder="请输入您的答案">
                            <!-- 若按钮不可点击则添加 disabled 类 -->
                            <button type="button" class="ui-border-l" id="verify">验证答案</button>
                            <a href="#" class="ui-icon-close"></a>
                        </div>
                    </form>
                </div>
                <br>
                <div class="ui-tips ui-tips-success">
                    <i></i><span>当前已有<label class="ui-label">{{ first_puzzle.solve_times }}</label>人通过这一关</span>
                </div>
            </div>
            <div id="firstPb" style="display: none">
                <ul class="ui-row ui-whitespace">
                    {% if has_first_puzzle %}
                    <!--<li class="ui-col ui-col-100">-->
                        <!--<p class="ui-txt-justify">{{ first_puzzle.story_description }}</p>-->
                    <!--</li>-->
                    <!--<li><p>&nbsp;</p></li>-->
                    <li class="ui-col ui-col-100">
                        <p class="ui-txt-justify">下一关的问题: 从数据库取下一关的问题{{ next_puzzle.content }}</p>
                    </li>
                    <li><p>&nbsp;</p></li>
                    <li>
                        <p class="ui-txt-justify">下一关的位置提示: 从数据库取下一关的位置{{ next_puzzle.hint }}</p>
                    </li>
                    {% else %}
                    <li>
                        <p class="ui-txt-justify">游戏暂时没有开始</p>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </section>
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>
        <script type="text/javascript">
            // 点x清除输入框内容
            $(".ui-icon-close").tap(function() {
                $("input").val("");
            });
            // 验证问题答案，错误则顶部弹出提示，正确则弹出对话框
            var el;
            $("#verify").tap(function(){
                var answer = $("input[type='text']").val();
                console.log(answer);
                if (answer != "{{ first_puzzle.answer }}") {
                    el=$.tips({
                    content:'Oops! 答案似乎不对呢～再试试看吧 :)',
                    stayTime:2000,
                    type:"warn"
                    })
                    el.on("tips:hide",function(){
                        console.log("tips hide");
                    });
                }
                else {
                    var dia=$.dialog({
                        title:'太棒了勇士',
                        content:'恭喜您通过考验！接下来您将会看到下一关的线索以及将要回答的问题，请勇士牢记这些内容，否则探险将无法继续进行下去 :(',
                        button:["放心吧! 完全没问题～"]
                    });
                    // 回答正确之后显示第一个问题和线索
                    dia.on("dialog:action",function(e){
                        $("#entry").css("display", "none");
                        $("#firstPb").css("display", "block");
                        console.log(e.index)
                    });
                    dia.on("dialog:hide",function(e){
                        console.log("dialog hide")
                    });
                }
            });
            // 点击底部跳转到游戏说明
            $("#problem").tap(function() {
                window.location.href="description.html?back=true";
            })
        </script>
    </body>
</html>