<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>Sunday Offline Puzzle Game</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
    </head>
    <body ontouchstart="">
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>{{ puzzle.name }}</h1>
        </header>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="description.html" id="problem"><div class="ui-icon-warn">这是什么</div></li>
            </ul>
        </footer>
        <section class="ui-container ui-center">
            <br>
            <div class="ui-scroller">
                <ul class="ui-tab-content" style="width:200%">
                    <li id="clue" style="visibility: hidden">
                        <ul class="ui-row ui-whitespace">
                            {% if puzzle.puzzle %}
                                {% if puzzle.puzzle.content %}
                                    <li class="ui-col ui-col-100">
                                        <p class="ui-txt-justify">下一关的问题: {{ puzzle.puzzle.content }}</p>
                                    </li>
                                    <li><p>&nbsp;</p></li>
                                {% endif %}
                                {% if puzzle.puzzle.hint %}
                                    <li>
                                        <p class="ui-txt-justify">下一关的位置提示: {{ puzzle.puzzle.hint }}</p>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    <li>
                        <ul class="ui-row ui-whitespace">
                            <li id="preAns" class="ui-col ui-col-100"><p class="ui-txt-justify">{{ puzzle.story_description }}</p></li>
                        </ul>
                        <br>
                        <div class="ui-form ui-border-t">
                            <form action="#" onkeydown="if(event.keyCode==13){return false;}">
                                <div class="ui-form-item ui-form-item-r ui-border-b">
                                    <input type="text" placeholder="请输入上关问题的答案">
                                    <!-- 若按钮不可点击则添加 disabled 类 -->
                                    <button type="button" class="ui-border-l" id="verify">验证答案</button>
                                    <a href="#" class="ui-icon-close"></a>
                                </div>
                            </form>
                        </div>
                        <br>
                        <div class="ui-tips ui-tips-success">
                            <i></i><span>当前已有<label class="ui-label">{{ puzzle.solve_times }}</label>人通过这一关</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/lib/zepto.min.js"></script>
        <script src="http://7xnrsp.com1.z0.glb.clouddn.com//didle/js/frozen.js"></script>
        <script type="text/javascript">
            // 点x清除输入框内容
            $(".ui-icon-close").tap(function() {
                $("input").val("");
            });
            // **HACK** 使页面无法滚动
            var scroll = new fz.Scroll('.ui-scroller', {
                scrollY: false,
                scrollX: true,
                bounce: false
            });
            scroll.disable();
            scroll.scrollToElement("#preAns", 0, true, false);
            // 验证问题答案，错误则顶部弹出提示，正确则弹出对话框
            var el;
            $("#verify").tap(function(){
                var answer = $("input[type='text']").val();
                console.log(answer);
                if (answer != "{{ puzzle.answer }}") {
                    el=$.tips({
                    content:'Oops! 答案似乎不对呢～再试试看吧 :)',
                    stayTime:2000,
                    type:"warn"
                    });
                    el.on("tips:hide",function(){
                        console.log("tips hide");
                    });
                }
                else {
                    scroll.enable();
                    // **HACK** 使页面无法滚动
                    var $clue = $("#clue");
                    $("#clue").remove();
                    $clue.css("visibility", "visible");
                    $(".ui-tab-content").append($clue);
                    scroll.scrollToElement("#clue", 0, true, false);
                    scroll.disable();
                    // 返回数据给服务器记录通关人数
                    $.getJSON('add_solve_times?link_uuid={{ puzzle.link_uuid }}');
                }
            });
            // 点击底部跳转到游戏说明
            $("#problem").tap(function() {
                window.location.href="description.html?back=true";
            })
        </script>
    </body>
</html>